<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
        V1 基线第 16 章「断网可用」：这里刻意不声明 android.permission.INTERNET，
        从构建层面保证所有记账与统计能力都不依赖网络。新增网络权限会直接破坏该验收项。
    -->

    <application
        android:name=".BookkeepingApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MinimalistBookkeeping">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 以下页面全部只能由应用内部跳转，返回栈统一归属 MainActivity -->
        <activity
            android:name=".ui.record.TransactionEditActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.category.CategoryManageActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.budget.BudgetSettingActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.settings.AppearanceActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.settings.DataManageActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.settings.AboutActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>